<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzh.dao.StyleSortMapper">
    <select id="findAll" resultType="com.wzh.vo.StyleSort">
		SELECT
		t2.sort_name sortName,
		count(*) count
		FROM
		article t
		LEFT JOIN sort_article t1 ON t.articleId = t1.article_id
		LEFT JOIN sort t2 ON t1.sort_id = t2.sort_id
		GROUP BY
		t2.sort_name
    </select>
    <select id="findLisBySort" resultType="com.wzh.vo.ArticleList">
        SELECT
	t.articleId articleId,
	t.author author,
	t.articleTitle articleTitle,
	t.articleContent articleContent,
	t.publishDate publishDate,
	t.isOriginal isOriginal,
	t.articleUrl articleUrl,
	t.viewNum viewNum,
	t.articleImg articleImg,
	t2.sort_name sortName,
	t.topFlag topFlag
FROM
	article t
LEFT JOIN sort_article t1 ON t.articleId = t1.article_id
LEFT JOIN sort t2 ON t1.sort_id = t2.sort_id
WHERE t2.sort_name = #{sortName}
    </select>
</mapper>